/**
 * Style sheet for SotC dashboard.
 */

/** Import Droid Sans Bold font from Google CDN. */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

body
{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/bg.png');
}

div#header
{
  width: 85%;
  height: 180px;

  margin: 20px auto;
  padding: 0 30px;
}

div#logo
{
  float: left;
}

div#logo a
{
  display: block;
  width: 305px;
  height: 157px;

  background-image: url('../img/logo.png');
  background-repeat: no-repeat;

  /** Hide text, only show background image */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div#title
{
  float: left;
  margin-left: 70px;
  margin-top: 20px;

  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  font-size: 600%;
  text-shadow: 3px 3px 3px #555555;
}

/** Resize site header on small screens. */
@media handheld, only screen and (max-width: 1024px)
{
  div#title
  {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 450%;
  }
}

div#title .dark
{
  color: #333333;
}

div#title .light
{
  color: #CCCCCC;
}

div#content
{
  width: 85%;

  margin: 0 auto;
  padding: 30px;
  padding-top: 10px;

  background-color: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 5px;

  box-shadow: 5px 5px 5px #CCCCCC;
}

div#footer
{
  margin-top: 25px;
  margin-bottom: 25px;

  font-size: 12px;
  text-align: center;
}

h3
{
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 160%;
  font-weight: normal;
  color: #292929;
  text-shadow: 0px 1px 2px #555555;
}

.tabs-content,
.tabs-content-always
{
  width: 700px;
  height: 230px;
  padding: 0px;

  background-image: url('../img/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

/** Hide charts on default. jQuery will show them when fully loaded. */
img.chart
{
  display: none;
  width: 700px;
  height: 230px;
}

.tabs-content div.total
{
  width: 658px; /** 700px minus padding and border */
  height: 188px; /** 230px minus padding and border */
  padding: 20px;

  background-color: #E0E0E0; /** Old browsers */
  background-image: -moz-linear-gradient(top, #E3E3E3 17%, #B4B4B4 100%);
  background-image: -webkit-linear-gradient(top, #E3E3E3 17%, #B4B4B4 100%);
  background-image: -khtml-linear-gradient(top, #E3E3E3 17%, #B4B4B4 100%);
  background-image: linear-gradient(top, #E3E3E3 17%, #B4B4B4 100%);

  border: 1px solid #000000;
}

.tabs-content div.total p
{
  margin: 0;
  padding-bottom: 15px;
}

span.counter
{
  padding-left: 30px;

  font-size: 140%;
  font-weight: normal;
  color: #292929;
  text-shadow: 0px 1px 2px #555555;
}
